@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
$fa-font-path: "/webfonts";
@import "~@fortawesome/fontawesome-free/scss/solid";

$navbar-height: 45px;

html {
  scroll-behavior: smooth;
}

.page-section {
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
}

.min-height-70 {
  min-height: 70px;
}

.navbar {
  background: white;
  height: $navbar-height;

  > .nav-border {
    position: absolute;
    bottom: 0px;
    height: 1px;
    width: 0%;
    opacity: 0;
    background-color: #6c757d;
    transition: width 0.2s ease-out, opacity 0.2s ease-out;
  }

  > .ab-brand {
    position: absolute;
    left: 20px;
    opacity: 0;
    box-shadow: none !important;
  }

  &.nav-fixed {
    > .nav-border {
      width: 100%;
      opacity: 1;
    }

    > .ab-brand {
      opacity: 1;
    }
  }
}

.portfolio-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #292d32;
}

.portfolio-frame {
  position: absolute;
  width: 100%;
  height: calc(100% - #{$navbar-height});
  margin-top: $navbar-height;
  border: none;

  &.portfolio-mobile {
    max-width: 375px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.disable-shadow {
  box-shadow: none !important;
}